body {
    background-color: bisque;
}

nav {
    background-color: azure;
    margin: 30px;
    padding: 20px;
    display: flex;
    position: sticky;
    justify-content: space-around;
    gap: 40px;
    top: 0px;
    border-radius: 40px;
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.5);
}

nav a {
    color: #000;
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 26, 255);
}

.bar {
    max-width: 800px;
    width: 100%;
    background-color: azure;
    margin: auto;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.5);
}

.info {
    max-width: 600px;
    width: 100%;
    background-color: beige;
    margin: auto;
    padding: 40px;
    border-radius: 40px;
}

.info2 {
    display: flex;
    justify-content:space-between;
}

.info3 {
    display: flex;
    justify-content:space-around;
}
